# Allow building restricted packages like the Discord client
XBPS_ALLOW_RESTRICTED=yes

# Use a faster mirror (Fastly CDN mirror)
#XBPS_MIRROR=https://repo-fastly.voidlinux.org/current

# Enable CCache
#XBPS_CCACHE=yes

# Global build options
#XBPS_PKG_OPTIONS=opt,~opt2,opt3,~opt4

# Per-package build options
#XBPS_PKG_OPTIONS_foo=opt,~opt2,opt3,~opt4
